.consultation-container {
    margin-top: 4rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.consultation-container p {
    margin-bottom: 1rem;
}

.consultation-container ul {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.consultation-container .consultation-img img {
    max-width: 90%;
}

/* Responsive Design */
@media (max-width: 1024px) {
   
}

@media (max-width: 768px) {
    .consultation-container {
        grid-template-columns: 1fr;
    }

    .consultation-container img {
        display: none;
    }
}

@media (max-width: 480px) {
    .consultation-container {
        grid-template-columns: 1fr;
    }
}
