:root {

    /* https://www.behance.net/gallery/132152253/vert-brand-guidelines */
    --color-vert-1: #66734a;
    --color-vert-2: #949D74;
    --color-vert-3: #d1c4a4;
    --color-vert-4: #f3ebd9;
    --shadow: 0 4px 8px var(--color-vert-1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html {
    scroll-behavior: smooth !important;
}

body {
    scroll-behavior: smooth !important;
    font-family: 'Poppins', 'Roboto', sans-serif;
    animation: 1.5s fadeIn;
    background-image: url("./assets/images/hero2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: var(--color-vert-4);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: var(--color-vert-4);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    text-align: center;
}

h3 {
    color: var(--color-vert-3);
    font-family: "Poppins", serif;
    font-weight: 200;
    text-align: center;
    font-size: 1.5rem;
}

hr {
    top: 1.5em;
    margin-bottom: 1em;
    border-bottom-color: var(--color-vert-4);
    box-shadow: inset 0 1px 0 0 var(--color-vert-3);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

/* Hide-show animation */

.hidden {
    opacity: 0;
    transition: all 0.5s ease-in;
}

.visible {
    opacity: 1;
}

/* Sections */

section {
    /* margin: 1rem; */
    width: 100%;
}

section.style2 {
    border-radius: 20px;
    background-color: rgba(235, 238, 240, 0.178);
    box-shadow: 0 0 10px 1px rgba(226, 221, 221, 0.25);
    backdrop-filter: blur(15px);
}

section.style3 {
    opacity: 0.95;
    backdrop-filter: blur(15px);
    border-radius: 15px;
}

section.style4 {
    background-color: var(--color-vert-4);
}

.style4 h2 {
    color: var(--color-vert-1);
}

section.style5 {
    background-color: var(--color-vert-2);
}

.style5 h2 {
    color: var(--color-vert-4);
}


/* Amivel */

#amivel {
    margin-bottom: 20rem;
}

.amivel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Hamburger-menu */

/* .hamburger-menu {
    position: fixed;
    top: 1rem;
    z-index: 10;
    margin-right: auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 1rem;
}

.hamburger-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    border-radius: 25px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.hamburger-menu span:nth-child(1) {
    top: 25%;
}

.hamburger-menu span:nth-child(3) {
    top: 75%;
}

.hamburger-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
} */

/* Sidenav: */

/* .nav-list {
    left: -450px;
    background-color: var(--color-dark);
    height: 100vh;
    width: 40%;
    position: fixed;
    max-width: 350px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: 0.3s ease;
    z-index: 9;
    opacity: 0.7;
}

.nav-list.active {
    left: 0px;
}

.nav-list ul li {
    list-style: none;
    margin-right: 1rem;
}

.nav-list ul li a {
    text-decoration: none;
    color: var(--color-lightest);
}

.nav-list ul li a:hover {
    color: var(--color-light);
    /* text-decoration: underline; */
    /* text-shadow: 0 0 10px var(--color-light), 0 0 20px var(--color-light), 0 0 30px var(--color-light); */
/* } */


                /* Navbar on top: */
                .nav-list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--color-vert-1);
                    padding: 1.5rem 2rem;
                    position: fixed;
                    width: 100%;
                    z-index: 10;
                    top: 0;
                    opacity: 0.4;
                    transition: 0.4s;
                    font-size: 1.1rem;
                    font-weight: 300;
                }

                .nav-list:hover {
                    opacity: 1;
                }

                .nav-list ul {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    list-style: none;
                }

                .nav-list ul li {
                    margin-right: 1rem;
                }

                .nav-list ul li a {
                
                    text-decoration: none;
                    color: var(--color-vert-3);
                }
                
                .nav-list ul li a:hover {
                    color: var(--color-vert-4);
                } 

                .nav-list ul li:nth-child(1) {
                    margin-right: auto;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                
/* Hero */

.hero-image {
    background-image: url("./assets/images/hero2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-image h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-text {
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 2rem;
    margin-top: auto;
}

.quote {
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 2rem;
    color: var(--color-vert-4);

    margin-bottom: 3rem;
    margin-top: auto;
    max-width: 80%;
}

/* About */

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

.about-container .about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.about-container .about-image img {
    max-width: 70%;
    border-radius: 50%;
    transition: 0.3s;
    margin-top: 4rem;
    transform: translate(-2rem, -2rem);
    margin-bottom: auto;
    box-shadow: 0 0 10px 1px var(--color-vert-3);
}

.about-container .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.about-container .about-text p {
    margin-bottom: 2rem;
}

.about-container hr {
    top: 1.5em;
    border-bottom-color: rgba(192, 192, 192, 0.35);
    width: 80%;
}

/* Studies */

.studies-container {
    position: relative;
    overflow: hidden;
    padding: 1rem;
}

.studies-container hr {
    width: 70%;
    margin: 1rem;
}

.studies-text {
    padding: 1rem;
}

.studies-container .studies-text h2 {
    position: relative;
    left: -10%;
}

.studies-container ul li {
    margin-bottom: 0.5rem;
}

.studies-container img {
    position: absolute;
    bottom: -5%;
    right: -5%;
    max-width: 30%;
}

/* Services */

.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 3rem 2rem;
    border-radius: 10px;
}

.service-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 1.5rem;
    background-color: var(--color-vert-4);
    border-radius: 10px;
    text-align: center;
}

.service-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.service-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-dark);
}

.service-card p {
    font-size: 1rem;
    color: var(--color-mid);
    margin-top: 1rem;
}

.service-card a {
    text-decoration: none;
}

/* Contact */

#contact h3 {
    color: var(--color-vert-4);
    text-align: left;
}

.contact-container {
    margin: 2rem;
    position: relative;
    width: 70%;
}

.contact-foreground {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    opacity: 0.7;
    border-radius: 20px;
    background-color: var(--color-vert-1);
    backdrop-filter: blur(15px);
    z-index: 2;

    margin: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    box-shadow: var(--shadow);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--color-vert-1);
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    resize: none;
    opacity: 0.5;
    transition: all 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--color-vert-3);
    outline: none;
    opacity: 0.8;
}

.contact-form button {
    padding: 1rem 2rem;
    background-color: var(--color-vert-4);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: var(--color-vert-3);
}

.contact-container .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}

.contact-container .icons li {
    margin-right: 1rem;
    font-size: 2rem;
}

.contact-container .icons li a {
    transition: all 0.3s;
    opacity: 0.85;
}

.contact-container .icons li a:hover {
    color: var(--color-vert-4);
}

/* v1: */
/* .contact-container img {
    max-width: 80%;
    margin-top: 2rem;
    border-radius: 10px;
    opacity: 0.9;
} */

/* v2: */
/* #contact {
    background-image: url("./assets/images/resilience-nobg.png");
    background-size: cover;
    background-position: center;
} */


/* v3: */


#contact {
    background-image: url("./assets/images/contact-bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

 .contact-container .contact-form {
    background-color: var(--color-vert-2);
    opacity: 0.9;
}

/* Articles */

.articles-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.articles-container img {
    max-width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.articles-container .article-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    background-color: var(--color-vert-3);
}

.articles-container .article-card:hover {
    transform: scale(1.05);
}

.articles-container .article-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.articles-container .article-card p {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

    /* Footer */

    footer {
        background-color: var(--color-vert-1);
        color: var(--color-vert-4);
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
    }

    footer .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    footer .icons li {
        margin-right: 1rem;
        font-size: 1.5rem;
    }

    footer .icons a {
        color: var(--color-vert-4);
        transition: all 0.3s;
    }

    footer .icons a:hover {
        color: var(--color-vert-3);
    }

    footer .copyright {
        margin-top: 1rem;
        color: var(--color-vert-2)
    }

/* Keyframe animations */

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }


  /* FOG */

  .fog-container {
    position: absolute;
    width: 100%;
    height: 85%;
    overflow: hidden;
    z-index: 1;
  }
  
  .fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
  }
  
  .fog-img-first {
    background: url("./assets/images/fog-1.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 60s linear infinite;
  }
  
  .fog-img-second {
    background: url("./assets/images/fog-2.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 30s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
  
    100% {
      transform: translate3d(-200vw, 0, 0);
    }
  }

  @keyframes arrow
  {
  0% {opacity:0; transform:translateY(10px)}
  80% {opacity:1; transform:translateY(50px)}
  100% {opacity:0; transform:translateY(50px)}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0; transform:translateY(10px)}
  80% {opacity:1; transform:translateY(50px)}
  100% {opacity:0; transform:translateY(50px)}
  }
