/* Yoga Section */

#yoga {
    min-height: 60vh;
}

.hero-image-yoga {
    background-image: url("./assets/images/pexels-elly-fairytale-3823039.jpg");
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
}

.yoga-container {
    color: black;
    padding: 20px;
}

.yoga-container h2 {
    color: black;
    text-align: center;
    font-weight: 700;
}

